{
  "extends": [
    "airbnb-base",
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    // special case for rewire __get__
    "no-underscore-dangle": ["off"],
    "semi": ["off"],
    "no-param-reassign": ["off"],
    "no-lonely-if": ["off"],
  },
}
